/* balises générales */
/* balises générales */
#background {
	background: url(img/background.png);
}

html, body {
	height: 100%;
	background-color: #FCFCFB;
}


.wrap {
	padding-bottom: 45px;
	background-color:#FCFCFB;
	height:100%;
	
	
}

.main {
	min-height: 100%;
	position: relative;;
}

img {
	max-width: 100%;
	height: auto;
}


/* balises centrante */
			
.Conteiner {
	width:960px;
	margin: 0 auto;
	
}

a {
	text-decoration:none;
	
}

ul {
	padding:0;
}

header {
	height:80px;
}
	/* header */
	#blue {
		height:35px;
		background: url(img/header.png);
		background-repeat: repeat-x;
	}
	
	#black  {
	height: 45px;	
	}
	
	#black-background  {
		height: 46px;
		background-color: rgba(0, 0, 0, 0.3);
		margin-top: -50px;
	}
		
		#trouver  {
			padding: 10px 130px 10px 0px;
		}
		
		#conseil {
			padding: 10px 85px 10px 85px;
		}
		
		#coaching {
			padding: 10px 0px 10px 120px;
		}
		
		#black h2 {
			line-height: 2.1;
			font-size: 1.5em;
		}
		
	
		
		#black li img  {
			margin: 0 /*103*/px;
			position:absolute;
			
		}	
		
	
		nav ul ,a ,li ,h1, h2 {
			display : inline;
			font-family: CalibriRegular, Myriad pro;
			color:white;
			
			 
		}
		
		nav h1 {
			margin-right: 610px;		
			font-size: 1.5em;
			text-transform: uppercase;
			line-height: 1.6;
			vertical-align: middle;
		}
		
		nav a {
			color:white;
			
		}
		#blue ul {
			
			margin-top:6px;
		}
		
		#blue ul li {
			font-size : 1.2em;
			margin-left: 15px;
			
		}
		
		#white {
		height:45px;
		background-color: white;
		box-shadow: 0px 1px 6px 0px rgba(119, 119, 119, 0.61);
		-moz-box-shadow: 0px 1px 6px 0px rgba(119, 119, 119, 0.61);
		-webkit-box-shadow: 0px 1px 6px 0px rgba(119, 119, 119, 0.61);
		color:black;
		
		position: absolute;
		width: 100%;
		z-index: 3;
	}
	
	#white a {
		color:black;
		margin-right: 15px;
		font-size: 1.2em;
		line-height: 2.4;
		-webkit-transition: color .5s ease-in;
	    -moz-transition: color .5s ease-in;
	    -o-transition: color .5s ease-in;
	    transition: color .5s ease-in;
	}
	
	#white a:hover{
    color:#12b7e7;
}

	
		
		/* fin header*/

/* page principale, recherche rapide */

#Recherche-Rapide {
	width:530px;
	height:530px;
	margin-top:40px;

}

	#Recherche-Rapide h3 {
		font-family: CalibriRegular, Myriad Pro;
		font-size: 1.8em;
		color:white;
		margin-bottom: 24px;
	}

	#recherche {
		width:535px;
		height:477px;
	
	}
	
	#recherche p {
		font-family: Myriad Pro, Calibri; 
		font-size: 1.2em;
		color: white;
		margin-top: 40px;
		margin-left:30px;
		margin-bottom: 10px;
	}
	
	#recherche select  {
		margin-left: 5px;
width: 295px;
-webkit-appearance: none;
background: transparent;
border: 0;
line-height: 2.3;

	}
	
	#MapConteiner
	
	{
		margin-left: 60px; 
		width:390px;
		height:301px;
	}
	
	#background-recherche {
		width: 535px;
		height:486px;
		background-color: rgba(0, 0, 0, 0.3);
		margin-top: -448px
		
	}
	
	#chercher {
		background-color: #0aaddd;
		width: 150px;
		font-family: calibri;
		font-size: 1em;
		color: white;
		border: none;
		position:absolute;
		margin-left: 10px;
		margin-top: 1px;
		height:29px;
	}


	.select	{
		display: inline-block;
		background: url(img/select.png);
		width: 300px;
		height: 31px;
		margin-left: 29px;
		
	}
	
/* fin principal recherche rapide */


/* début top coach */

#topcoach {
	width:326px;
	height:350px;
	position:absolute;
	margin-left: 618px;
	margin-top: -477px;
	
}
		#topcoach ul {
			margin-top: 50px;
			margin-left: 31px;
			position: relative;
			top:-2%;
		}
		
		
		#topcoach li p {
			font-size: 0.8em;
			line-height: 1.4;
		}
		
		#topcoach a p{
			font-family: Calibri, MyriadPro;
			font-size: 1.8em;
			color:white;
			line-height: 0.9;
			margin-bottom: 6px;
		}
		
		#topcoach li {
			margin-bottom: 10px;
		}
		.barre { 
			display:block;
			margin:10px;
			margin-left: 48px;
		}
		.stars {
			float:left;
			margin-right: 9px;
		}
		
		.portrait {
			width:65px;
			height:65px;
			float:left;
			margin-right:30px;
		}
		
		.tag {
			color:  #68b0ff;
			margin-left: 94px;
		
		}
		
		#background-coach {
		    background-color: rgba(0, 0, 0, 0.3);
			width: 342px;
			height: 297px;
			margin-top: -275px;
		}
		
		
/* fin top coach */



/* début articles */ 

.articles-top {
	position:relative;
	left:-0.5%;
}
#articles {
	width: 325px;
	height: 164px;
	position: absolute;
	margin-left: 618px;
	margin-top: -108px;
}	

	#articles > a {
		margin-left: 103px;
		color: #68b0ff;
	}

	#articles p {
	
		margin-left: 28px;
		line-height: 1.7;
	
		
	}
	
	#background-article {
		background-color: rgba(0, 0, 0, 0.3);
		width:342px;
		height:114px;
		margin-top: -107px;
	}
	
	.blue {
		color: #68b0ff;
	}

/* fin articles */


/*début appel*/
	
#appel {
	
	height:166px;
	background-color:#f9f9f9; 
	margin-top: 65px;
	}
	
	#appel ul {
		position: absolute;
		margin-top: 18px;
	}
	#appel h3 {
		font-family: Myriad Pro;
		font-size: 2.3em;
		color:black;
		margin-top: 8px;

	}
	
	#appel p {
		color:black;
		font-size: 1.4em;
	}
	
	#appel ul li:nth-child(2){
		margin-left: 130px;
	}
	#appel ul li {
		display:inline;
		float:left;
		width:406px;
		height:112px;
			}

/* fin appel */


/* début photos */			

#photos-vidéos {
	background-color:#ffffff;
	padding-top: 30px;
	height:700px;
}

#photos-vidéos a {
	color:black;
}

#photos-vidéos h4 {
	
	margin-bottom: 30px;
	font-size: 2em;
	font-family: calibri;
}

	#Espace-photos {
		
		float:left;
		
	}
	
		
		#Espace-photos ul {
			width:483px;
			
		}
		
		.liens-photos {
			float:left;
			margin-left: 52px;
			line-height: 1.7;
		}
		
		.liens-photos li {
			display:block;
		}
		
		.liens {
			margin-top:15px;
		}
		
		.big {
			font-size: 1.1em;
			color:#68b0ff;
			line-height: 1.9;
			
		}
		
		
		#photos-vidéos article {
			float:left;
			width:400px;
			
		}
		
		#Espace-photos img {
			width:119px;
			height:119px;
			margin-bottom: 10px;
			margin-right: 10px;
			-moz-box-shadow: 0px 0px 10px 0px #656565;
			-webkit-box-shadow: 0px 0px 10px 0px #656565;
			-o-box-shadow: 0px 0px 10px 0px #656565;
			box-shadow: 0px 0px 10px 0px #656565;
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
		}
		
		#Espace-vidéos  {
			margin-left:137px;
		}
		
		#Espace-vidéos video {
			height:263px;
			width:426px;
		}
	
	
	/* fin photos */
	
	
	
#share {
	margin-left: 255px;
	margin-top: 545px;
	position: absolute;
}
	#share a {
		margin-bottom: 15px;
		
	}	
	#share ul {
		margin-left: 93px;
		margin-top: 20px;
	}
	#share img {
		margin-right: 25px;
		box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);
		-moz-box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);
		-webkit-box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);
	}
	

	#facebook {	
		margin-top: 41px;
	}
	.fb-comments {
		margin-top: 17px;
	}










								/* PAGE PROFIL */


/* visuel */ 
#visuel {
	height:294px;
	/*background: url(img/background-coach.png) no-repeat;
	*/
	overflow: hidden;

	}
	
	#Nom-coach {
		position: absolute;
margin-top: -172px;
margin-left: 400px;
color:white;

	}


	#barre-noire {
		height:74px;
		background: rgb(0,0,0,0.3); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(69,72,77,0.3) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(99%,rgba(69,72,77,0.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(69,72,77,0.3) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(69,72,77,0.3) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(69,72,77,0.3) 99%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(69,72,77,0.3) 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
		position: absolute;
bottom: 74.2%;
		width: 100%;
			}
			
		#barre-noire ul {
			margin-top: 25px;
			margin-left: 245px;
		}
		
		#barre-noire li {
			display: inline-block;
			font-size: 1.3em;
			margin-right: 60px;
		}
		
		#profil {
			
			position: absolute;
			bottom: inherit;
			margin-bottom: auto;
			border: 2px solid white;
			height: 234px;
			width: 195px;
			margin-top: -211px;
			margin-left: 180px;

			
				
		}
		
		#profil-stars {
			margin-bottom: -5px;
		}
		
		#présentation {
			background-color: #FCFCFB;
		}

		#côté-gauche {
			height:1000px;
			width:550px;
			background-color: white;
			padding-top: 30px;
			padding-left: 25px;
			
		}

		
		.text {
		
			font-family: Myriad Pro, Calibri;
			font-size: 1.5em;
			display:inline;
		}
		
		.Nom {
			color:white;
			font-size: 3em;
			font-family: Calibri;
			/*margin-left: 400px;
			margin-top: 162px;*/
			margin-bottom: 50px;
			display: inline-block;
		}
		.prenom {
			color:white;
			font-size: 3em;
			font-family: Calibri;
			display: inline-block;
			margin-bottom: 50px;
			margin-left: 10px;
		}

		.titre-profil {
			margin-top: 40px;
			color:#12b7e7;
			font-family: Calibri;
			font-size: 2em;
			margin-bottom: 60px;
		}
		
		.contact  {
			color:#a9a9a9;
			font-family: Calibri;
			display:inline-block;
			width:205px;
			font-size:1.5em;
			margin-bottom: 25px;
		}
		
		#côté-gauche video {
			margin-top: 100px;
			height: 249px;
		}
		
		#côté-gauche a {
			font-size: 1.5em;
			color: #12b7e7;
			font-family: Myriad Pro;
			margin-left: 267px;
			line-height: 2.3;
		}
		
		#côté-droit {
			background-color: #34abcd;
			width: 410px;
			height:1030px;
			float: right;
			margin-top: -1030px;
			
		}
		
		
		#côté-droit > .titre-profil {
			color: #99c7fe;
			margin-left: 25px;
		}
		
		
		.blue-2 {
			color:#99c7fe;
		}
		
		
		.description {
			color:white;
			padding: 0 25px 0 25px;
			word-spacing: 2px;
			font-family: Myriad Pro, Calibri;
			font-size: 1.1em;
			word-wrap: break-word;
		}
		
		#côté-droit a {
			display:inline-block;
			margin: 0 25px 10px 28px;
			font-size: 1.1em;
		}
		
		#côté-droit ul li:last-child {
			margin-left: 80px;
		}
		
		#wrapper {
			background-color: #fffff;
		}
		
		.citation, .auteur {
			color:white;
			font-family: Myriad Pro, Calibri;
			font-size: 1.1em;
			margin: 0 25px 0 25px;
		}
		
		.citation{
			margin-bottom: 40px;
			
		}
		.auteur {
			margin-left: 300px;
		}
		






														/* PAGE RECHERCHE */


#barre {
	width:100%;
	height:155px;
	background-color: #12b7e7;
}

#barre p {
	font-family: Calibri, Myriad Pro;
	font-size: 1.5em;
	color:white;
}
	
	#barre-recherche p {
	display: inline-block;
	margin-top: 63px;
	margin-right: 30px;
}

	#barre-recherche form {
		display:inline;
	}
	
	#cliquable {
		background-color: #fffffb;
		padding-top: 1px;
		height: 510px;
		width: 100%;
	}
	
	#cliquable p {
		font-family: Calibri, Myriad Pro;
		font-size: 1.5em;
	}
	
	#map {
	
		margin-top: 30px;
		height:500px;
		
	}
	
	#map img {
		margin-top: 53px;
	}
	
	#selecteurs {
		margin-top: -500px;
		margin-left: 700px;
		height: 500px;
}
	
	
	#select-background {
		height: 365px;
		width: 365px;
		background-color: white;
		margin-top: 54px;
	}
	
	#select-background select {
	margin-left: 30px;
	width: 300px;
	-webkit-appearance: none;
	background: url(img/select.png);
	border-radius: 0px;
	border:0;
	background-color: gainsboro;
	line-height: 2.3;
	height: 31px;
	padding-left:10px;
	}
	#select-background p {
		font-family: Calibri,Myriad Pro;
		margin-left: 30px;
		font-size: 1.5em;
		line-height: 2.8;
	}
	
	#select-background input {
		display: block;
		margin-left: 109px;
		height: 32px;
		font-size: 1.2em;
		width: 140px;
		color: white;
		font-family: Calibri, Myriad Pro;
		background-color: #0798c2;
		border: none;
		vertical-align: middle;
		margin-top: 25px;
}
	
											/* PAGE RESULTATS */


#nouvelle-recherche {
	width:100%;
	height:155px;
	background-color: #12b7e7;
}

	#nouvelle-recherche p{
		color:white;
		font-size: 1.5em;
		font-family: Calibri, Myriad Pro;
		padding-top: 26px;
		padding-bottom: 18px;
	
	}
	
	#nouvelle-recherche select {
		width:245px;
		margin-right: 24px;
	}
	
	#nouvelle-recherche input {
		height: 30px;
		font-size: 1.2em;
		width: 140px;
		color: white;
		font-family: Calibri, Myriad Pro;
		background-color: #0798c2;
		border: none;
		vertical-align: middle;
	}

	
#nombre {
	margin-top: 10px;
	font-family: Myriad Pro, Calibri;
}


#coup-doeil {
	height:506px;
	width:100%;
	margin-top: 30px;
}

	#coup-doeil p:nth-child(1), #second-résultats p:nth-child(1) {
		font-size: 1.8em;
		font-family: Myriad Pro, Calibri;
		margin-bottom: 10px;
		color:black;
	}
	
	#coup-doeil ul {
		background-color: #fffffb;
		height:393px;
	}
	

	.coach-resultat {
		height:130px;
	}
	
	.coach-resultat:hover {
		background-color: rgba(231,231,219,0.5);
	}
	
	.coach-resultat p {
		color:black;
		font-size: 1em;
		margin-left: 105px;
		margin-top: 4px;
		margin-bottom: 5px;
	}
	
	.infos {
		height: 100px;
		width: 700px;
		padding:17px;
	}

	.barre-2 {
		margin-bottom: 15px;
	}

	.coach-resultat img:nth-child(2) {
		margin-left: 18px;
		float:left;
	}
	
	.stars-2 {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	.coach-resultat img:nth-child(1) {
		display:block;
		float:left;
	}
	
	
	#second-résultats {
		margin-bottom: 50px;
	}
	
	.name {
		color: #0798c2;
		font-size: 1.8em;
		margin-left: 10px;
	}

	.tags {
		color: #79b9ff;
		margin-left: 13px;
	}

	.bouton-bleu {
		font-size: 1.2em;
		color: white;
		font-family: Calibri, Myriad Pro;
		background-color: #0798c2;
		border: none;
		position: relative;
		margin-top: -90px;
		margin-right: 100px;
		padding: 10px 25px 10px 25px;
		float: right;
	}
	
	#pré-footer {
		margin-bottom:50px;
	}
	
	#pré-footer a{
		color:black;
		width:100px;
		margin: 0 auto;
	}
	
	#pré-ver ul {
		margin-left: 300px;
		margin-bottom: 30px;
	}
	
	#pré-footer ul li {
		margin-left: 30px;
	}
	.pages {
		color:#0798c2;
		display:inline-block;
		margin-left: 30px;
	}



															/* ARTICLE UNIQUE */ 
#back {
	background-color: #FCFCFB;

}

#illustration {
	height: 400px;
	width: 960px;
	background-color: black;
	overflow: hidden;
}

#left {
	float:left;
	background-color: #0aacdc;
	min-height:100%;
	width:245px;
	padding-top: 50px;
	height:100%

	
}

#article-center {
	width: 800px;
	margin: 0 auto;
	
}

#gauche {
	height: 100%;
	background-color: #0aaddd;
	width: 200px;
	float:left;
	position: absolute;
	z-index: 1;
}

#article-seul {
	height:100%;
	background-color: white;
	width:960px;
	position:absolute;

}

#left p {
	color:white;
	font-family: Myriad Pro, Calibri;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-left: 30px;
}

#left img {
	margin-left: 30px;
}

#article-unique {
	height:100%;
	width: 960px;
	margin-top: -3px;
	/* padding-right: 40px; */
	background-color: white;
}
	#article-unique p {
		/*margin-left: 289px;*/
		text-align: justify;
		font-size: 1.1em;
		line-height: 1.2;
		margin-bottom: 28px;
		font-family: Myriad Pro;
		word-wrap: break-word;
	}

	#article-unique h1 {
		color:black;
		/*margin-left: 42px;*/
		font-family: Calibri, Myriad Pro;
		font-size: 3em;
		line-height: 2.5;
	}
	
	#article-unique a {
		color:#4d96f9;
		display:block;
		/*margin-left: 290px;*/
		font-size: 1.3em;
		margin-top: 14px;
	}

	#article-share {
		margin-left: 203px;
		margin-top: 30px;
		margin-bottom: 115px;
		width: 401px;
	}
	
	#article-share img {
		box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);
		-moz-box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);
		-webkit-box-shadow: 0px 7px 10px 0px rgba(119, 119, 119, 0.77);

	}
	
	#article-share a {
		display: inline-block;
		margin-left: 10px;
	}

	#article-nav {
		width:100%;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	#article-nav a:nth-child(2) {
		margin-left: 460px;
	}
	
	#article-nav a {
		color:black;
		display:inline;
	}
	
	#article-nav p {
		margin: 0;
		display: inline;
		position: absolute;
		margin-top: 1px;
	}
	
	#article-nav img {
		display:inline;
	}
	
#note {
	margin-left: 335px;
	width: 300px;
	margin-top: 40px;
}

#note p {
	margin: 0;
}

#note img {
	margin-left: 11px;
		
		}
											/* PAGE ARTICLES */


#rubriques {
	border-bottom: 1px solid #0aacdb;
	width:960px;
	left:50%;
	margin:0 auto;
	margin-top: 30px;
	padding-bottom: 10px;
	
}
	#rubriques li a {
		display:inline;
		color:#a1cee7;
		font-family: Calibri, Myriad Pro;
		font-size: 1.5em;
		margin-left: 29px;
		
	}
		#rubriques a:active, #rubriques a:hover, #rubriques a:focus {
			border-bottom: 2px solid #0068a4;
			padding-bottom: 7px;
			color:#0068a4;
		}
	
	#rubriques ul {
		margin-left: 95px;
	}

	#rubriques a:active {
		color:#0068a4;
	}
		
		
	#left-article {
		
		width:620px;
	}	
	
		#top-article {
			width:620px;
			height:450px;
			margin-top: 50px;
		}
		
		#top-article h2 {
			color:black;
			font-family: Calibri, Myriad Pro;
			font-size: 2em;
		}

.autre-article {
	width:295px;
	height:624px;

	
}

.autre-article:nth-child(2) {
		float: right;
		
	}
	
	
	.autre-article h2 {
		font-family: Myriad Pro, Calibri;
		font-size: 1.2em;
		color:black;
	}	
	
	.une {
		margin-top: 20px;
		margin-bottom: 7px;
	}
		
		.une h3 {
		font-size: 1.4em;
		color: #12b7e7;
		font-family: Myriad Pro, Calibri;
		margin: 0 auto;
		
		margin-top: 5px;
		margin-bottom: 5px;
    }

	.resume {
		color:#848686;
		font-family: Myriad Pro, Calibri;
		font-size: 1em;
		text-align: justify;
		margin-top: 5px;
		margin-bottom: 10px;
		height:64px;
		
	}	
	
	.article-lien {
		font-size: 1.2em;
		color: white;
		font-family: Calibri, Myriad Pro;
		background-color: #0798c2;
		border: none;
		width:100%;
		padding: 0px 104px 0px 104px;		
	}	
	
	
	
	
	.autre-article ul {
		height:300px;
	}
	
	.autre-article img {
		float:left;
		margin-bottom: 5px;
		
	}
	
	 .liste-articles h3 {
		color:#0798c2;
		margin-left: 90px;
		word-wrap: break-word;
		
		
	}
	
	.liste-articles a:nth-child(4) {
		color:black;
		margin-left: 15px;
		line-height: 1.7;
		display:inline;
     }
	
	
	.liste-articles {
		height: 70px;
		padding: 14px 0px 5px 0px;
	}
	
	.liste-articles p {
		color:black;
		margin-left: 10px;
		color:#848686;
		display:inline;
	}
	
	
	
	#droit {
		float: right;
	width: 292px;
	margin-top: -1063px;

	}
	
	#droit input {
		height:35px;
		width:96%;
		background-color: #E9E9E9;
		border:none;
		color:#AFABAB;
		font-size: 1.3em;
		padding: 0 8px;
		margin-top: 36px;
	}
	
	#derniers-articles {
		margin-top: 30px;
	}
	
	#derniers-articles h2 {
		font-family: Myriad Pro, Calibri;
		font-size: 1.2em;
		color:black;
	}
	
	#derniers-articles ul {
		margin-top: 10px;
		margin-bottom: 38px;
	}
	
	#dessous {
		height:1200px;
	}
	
	.liste-articles-2 {
		height:90px;
	}
	
	.liste-articles-2 h3 {
		color:#0798c2;
		margin-left: 90px;
	}
	
	.liste-articles-2 p {
		display:inline;
		margin-left: 10px;
		color: #848686;
	}
	
	.liste-articles-2 a:nth-child(4) {
		margin-left: 14px;
		color:black;
		line-height: 1.7;
	}
	
	.liste-articles-2 img {
		float:left;
		margin-bottom: 13px;
		height:77px;
		width:77px;
	}
	
	.slideshow {  
   width: 615px;  
   height: 350px;  
   overflow: hidden;  
   border: 3px solid #F2F2F2;  
   margin-top: 15px;
}  
.slideshow ul {  
    /* 4 images donc 4 x 100% */  
   width: 400%;  
   height: 200px;  
   padding:0; margin:0;  
   list-style: none;  
}  
.slideshow li {  
   float: left;  
}  
	
	.current {
		    border-bottom: 2px solid #0068a4;
			padding-bottom: 7px;
			color:#0068a4 !important;

	}


												/*PAGE INSCRIPTION*/
.inscription {
	left: 23%;
	position:relative;
	width:86%;

	
}

#inscription {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 60px;
	position:relative;
	margin-top:77px;
	-moz-box-shadow: 0px 2px 5px 2px #cfcfcf;
-webkit-box-shadow: 0px 2px 5px 2px #cfcfcf;
-o-box-shadow: 0px 2px 5px 2px #cfcfcf;
box-shadow: 0px 2px 5px 2px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=5);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}

.presentation {
	margin-bottom: 50px;
}

.center label
{
	font-family: HelveticaNeue, Calibri, GilL Sans; 
	width:310px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin-bottom: 20px;
}

.center input {
	width: 200px;
}

.foot
{
	margin-top: 30px;
margin-bottom: 100px;
width: 300px;
position: relative;
left: 38%;
}


.inscription p {
	font-family:HelveticaNeue, CalibriRegular, Gill Sans;
	font-size: 1em;
	line-height: 2;
}

.inscription a {
	color:#12b7e7;
	line-height: 2;
}


.foot a {
	color:#0aaddd;
	position:relative;
	/* left:inherit; */
}


												/*FIN INSCRIPTION*/
	




											/* PAGE REDACTION ARTICLE */





.redac {
	width: 960px;
	margin: 0 auto;
	background-color: white;
	padding-top: 50px;
	margin-bottom:50px;
	margin-top: 50px;
	-moz-box-shadow: 0px 2px 5px 2px #cfcfcf;
-webkit-box-shadow: 0px 2px 5px 2px #cfcfcf;
-o-box-shadow: 0px 2px 5px 2px #cfcfcf;
box-shadow: 0px 2px 5px 2px #cfcfcf;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=5);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

}


.redac label, .redac p {
	width: 600px;
	display:block;
	margin-bottom: 20px;
	font-family: Calibri, MyriadPro;
}

.redac textarea {
	width:500px;
	margin-bottom: 40px;
	height:200px;
}

.redac input {
	width:500px;
	margin-bottom: 30px;
}
	
	.middle {
		width:500px;
		margin:0 auto;
	}

	#valider {
		background-color: #0aaddd;
width: 300px;
font-family: calibri;
font-size: 1em;
color: white;
border: none;
margin-left:100px;
margin-bottom: 100px;
height: 29px;
	}



														/* MENTIONS LEGALES */

#mentions {
	background-color: white;
	padding: 10px 40px 40px 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mentions h1, #mentions h2 {
	font-family:Calibri, MyriadPro;
	color:#0aaddd;
}


#mentions p {
	font-family: MyriadPro, HelveticaNeue;
}

#mentions h1 {
	font-size: 2em;
	margin-bottom: 30px;
	margin-top: 30px;
	display:block;

	
}

#mentions h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
	margin-top: 30px;
	display:block;
}

.important {
	margin-top: 10px;
	margin-bottom: 10px;
	
}
												/* FIN MENTIONS LEGALES */

												/* FAQ */ 

#faq {
	background-color: white;
	padding: 10px 40px 40px 40px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#faq h1, #faq h2 {
	font-family:Calibri, MyriadPro;
	color:#0aaddd;
}

#faq h1 {	
	font-size: 2em;
	margin-bottom: 30px;
	margin-top: 30px;
	display:block;

}

#faq h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
	margin-top: 30px;
	display:block;
}

#faq p {
	font-family: MyriadPro, HelveticaNeue;
}



	

												/* FOOTER */
footer {
	background: url(img/footer.png);
	height:45px;
	font-family: calibri;
	font-size: 1.2em;
	clear:both;
	z-index: 3;
  
    	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0; /* negative value of footer height */
}

footer a {
	color:white;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 2.3;
	-webkit-transition: color .5s ease-in;
	    -moz-transition: color .5s ease-in;
	    -o-transition: color .5s ease-in;
	    transition: color .5s ease-in;

}

footer a:hover {
	color:#12b7e7;
}
/* fin footer */